*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  height: 100%;
}
body{
  font-family: 'montserrat';
  height: 100vh;
  width: 100vw;
}
.App{
  height: 100%;
  width: 100%;
  background-color: rgb(223, 223, 223);
  font-family: 'montserrat';
 /*  display: flex;
  flex-direction: column; */
}

.main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainBground{
  background-image: url("./images/background.jpg");
  background-size: contain;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;

}
.menu{
  width: 100%;
  position: fixed;
  padding: 0.8rem 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  background-color: white;
}
.menuItems{
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  width: 25px;
}
.menu img{
  width: 35px;
  height: auto;
}
.menu p{
  font-size: 0.6rem;
}
.myCard{
  background-color: white;
  padding: 2rem;
  width: 90%;
  border-radius: 2rem 2rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
margin-bottom: 3rem;
}
.myCard img{
  width: 100%;
}
.myCard p{
  padding: 2rem;
  text-align: center;
}
.myCard button{
  padding: 1rem 2rem;
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
}